<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.m2m.meuonibus"
    android:versionCode="6"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- External storage for caching. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- My Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <uses-feature android:name="android.hardware.location.gps" />
    
    <!-- places api -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="br.com.m2m.meuonibus.MeuOnibusApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAZ-dTcDm_YSZG8t0bVlypTZ6MVwhQNjlM" />

        <activity
			android:name="br.com.m2m.meuonibus.activities.SplashActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name_in_device"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
			android:name="br.com.m2m.meuonibus.activities.MainActivity"
			android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
			android:name="br.com.m2m.meuonibus.activities.TutorialActivity"
			android:label="@string/home"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
			android:name="br.com.m2m.meuonibus.activities.ListaLinhasActivity"
			android:label="@string/title_activity_lista_linhas"
            android:screenOrientation="portrait" >
        </activity>
        <activity
			android:name="br.com.m2m.meuonibus.activities.OnibusDetalheActivity"
			android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
			android:name="br.com.m2m.meuonibus.activities.NoticiaDetalheActivity"
			android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
			android:name="br.com.m2m.meuonibus.activities.RecargaOnlinePopupActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
			android:name="br.com.m2m.meuonibus.activities.RecargaOnlineActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
			android:name="br.com.m2m.meuonibus.activities.PontosRecargaActivity"
			android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
			android:name="br.com.m2m.meuonibus.activities.FiltroRecargaActivity"
			android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>